#wrapper{
    margin: 20px;
    background-color: blanchedalmond;
    width: 80%;
}



label {
    display: inline-block;
    width: 10em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.form {
    font-family: 'Courier New', Courier, monospace;
    color:blue;
}

section > h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rebeccapurple;
}

@media only screen and (max-width: 64em){
    #wrapper{
        background-color:goldenrod;
        margin: 10px;
    }
}

@media only screen and (max-width: 37.5em){
    #wrapper{
        background-color: darkkhaki;
        margin: 0;
        width: 100%;
    }
}